<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./assets/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="./assets/js/chart.js"></script>
        <script src="./assets/js/main.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="./assets/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="./assets/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#000000">
        <title>Income Tracker</title>
    </head>
    <body>
        <div class="income-wrapper noselect">
            <div class="income-list"></div>
            <div class="footer">
                <button class="footer-button upload">Upload MTurk HITs</button>
                <button class="footer-button add">Add Transaction</button>
            </div>
        </div>
        <div class="stats-wrapper noselect">
            <div class="stats-section">
                <span class="section-title">This Month's Performance</span>
                <div class="chart-wrapper">

                </div>
            </div>
            <div class="stats-section">
                <span class="section-title">Total Earnings</span>
                <span class="stats-total"></span>
            </div>
            <div class="stats-section">
                <span class="section-title">Monthly Earnings</span>
                <div class="stats-months"></div>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="add-wrapper">
            <div class="source-wrapper noselect">
                <div class="source-list"></div>
                <svg class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
            </div>
            <div class="input-wrapper">
                <input class="add-input source" type="text" placeholder="Source...">
            </div>
            <div class="input-wrapper">
                <input class="add-input amount" type="text" placeholder="Amount...">
            </div>
            <div class="action-wrapper noselect">
                <button class="action-button cancel">Cancel</button>
                <button class="action-button confirm">Confirm</button>
            </div>
        </div>
    </body>
</html>