<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./assets/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="./assets/js/chart.js"></script>
        <script src="./assets/js/main.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="./assets/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="./assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="./assets/img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="./assets/img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#000000">
        <title>Income Tracker</title>
    </head>
    <body>
        <div class="income-wrapper noselect">
            <div class="income-list">
                <div class="income-transaction">
                    <div class="income-transaction-details">
                        <span class="income-source">Qmee</span>
                        <span class="income-amount">1.13</span>
                        <span class="income-date">22/07/2020</span>
                    </div>
                    <div class="income-transaction-actions hidden">
                        <button class="income action-button back">Back</button>
                        <button class="income action-button delete">Delete</button>
                        <button class="income action-button edit">Edit</button>
                    </div>
                </div>
            </div>
            <div class="footer">
                <input class="file-input hidden" type="file">
                <button class="footer-button upload">Upload MTurk HITs</button>
                <button class="footer-button add">Add Transaction</button>
            </div>
        </div>
        <div class="stats-wrapper noselect">
            <div class="stats-section">
                <span class="section-title">This Month's Performance</span>
                <div class="chart-wrapper"></div>
            </div>
            <div class="stats-section">
                <span class="section-title">Total Earnings</span>
                <span class="stats-total"></span>
            </div>
            <div class="stats-section">
                <span class="section-title">Monthly Earnings</span>
                <div class="stats-months"></div>
            </div>
        </div>
        <div class="overlay hidden"></div>
        <div class="add-wrapper hidden">
            <div class="input-wrapper">
                <input class="add-input source" type="text" placeholder="Source...">
            </div>
            <div class="input-wrapper">
                <input class="add-input amount" type="text" placeholder="Amount...">
            </div>
            <div class="action-wrapper noselect">
                <button class="add action-button cancel">Cancel</button>
                <button class="add action-button confirm">Confirm</button>
            </div>
        </div>
    </body>
</html>