@media screen and (max-width:950px) {
	.switcher-wrapper {
		display:block;
	}
	.income-wrapper, .stats-wrapper {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		display:block;
	}
	.income-wrapper {
		display:none;
	}
	.income-list {
		top:80px;
		height:calc(100% - 80px - 80px);
	}
}
@media screen and (max-width:470px) {
	.income-source {
		width:150px;
	}
	.income-amount {
		width:120px;
	}
	.income-date {
		width:calc(100% - 150px - 120px);
	}
}
@media screen and (max-width:450px) {
	.income-source {
		width:130px;
	}
	.income-amount {
		width:120px;
	}
	.income-date {
		width:calc(100% - 130px - 120px);
	}
	.section-note.mturk-adjustment {
		display:none;
	}
}
@media screen and (max-width:430px) {
	.income-source {
		width:130px;
	}
	.income-amount {
		text-align:right;
		width:calc(100% - 150px);
	}
	.income-date {
		display:none;
	}
}